<h1>Edit page</h1>
<table>
  <tr>
    <th>Name</th>
    <th>|</th>
    <th>Active</th>
    <th>|</th>
    <th>Location</th>
  </tr>
  <tr>
    <td><%= @supplier.name %></td>
    <td>|</td>
    <td><%= @supplier.active %></td>
    <td>|</td>
    <td><%= @supplier.location %></td>
  </tr>
</table>

<form action="/suppliers/<%= @supplier.id%>" method="post">

  <label for="name">Name:</label>
  <input id="name"
  type="text" name="name" value=<%=@supplier.name%> />

  <label for="active">Active</label>
  <select id="active" name="active"
  value=<%=@supplier.active%> >
  <option value=TRUE>Yes</option>
  <option value=FALSE>No</option>
</select>

<label for="location">Location</label>
<input id="location"
type="text" name="location" value=<%=@supplier.location%> />

<input type="submit" value="update"/>
</form>
